<body id="{{socialBody}}">
    <div class="container social-container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="{{title}}">Social Media Dashboard</h2>
                <span class="{{title}}">Total Followers: 23.004</span>
            </div>
            <div class="col-md-6 text-right">
                <label class="switch">
                <input type="checkbox" [(ngModel)]="theCheckbox" data-md-icheck (change)="toggleVisibility($event)" />  <span class="slider round"></span>
                <span class="checkmark"></span>
              </label>
            </div>
        </div>
        <div class="box">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" *ngFor="let card of cardList">
                    <div class="box-part text-center {{borderTopCard}} {{card.type}} {{backgroundCard}}">
                        <div class="title">
                            <h4 class="card-title"> <i class="fa fa-{{card.type}} fa-1x" aria-hidden="true"></i> &nbsp;{{card.socialid}}</h4>
                        </div>
                        <div class="text">
                            <span class="{{cardCount}}">{{card.count}}</span> <br>
                            <span class="followers">FOLLOWERS</span><br><br>
                        </div>
                        <span class="followerToday"><i class="fa fa-caret-up"></i>{{card.followerToday}} today</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="{{title}}">Overview - Today</h2>
        </div>
        <div class="box">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" *ngFor="let ov of overviewList">
                    <div class="box-part text-center border-round {{backgroundCard}} row">
                        <div class="col-md-6 text-left "><span class="ov-title">{{ov.title}}</span> </div>
                        <div class="col-md-6 text-right ov-icon"> <i class="fa fa-{{ov.icon}} fa-1x" aria-hidden="true"></i> </div><br><br>
                        <div class="col-md-6 text-left "><span class="{{ovCount}}">{{ov.count}}</span> </div>
                        <div class="col-md-6 text-right padding-top-20 "><span class="ov-percent"><i class="fa fa-caret-up"></i>{{ov.percent}}%</span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>