        /* You can add global styles to this file, and also import other style files */
        /* The switch - the box around the slider */
        
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }
        /* Hide default HTML checkbox */
        
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        /* The slider */
        
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        input:checked+.slider {
            background-color: #2196F3;
        }
        
        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }
        
        input:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
        /* Rounded sliders */
        
        .slider.round {
            border-radius: 34px;
        }
        
        .slider.round:before {
            border-radius: 50%;
        }
        
        // span {
        //     font-size: 15px;
        // }
        a {
            text-decoration: none;
            color: #0062cc;
            border-bottom: 2px solid #0062cc;
        }
        
        .box {
            padding: 60px 0px;
        }
        
        .box-part {
            background: #FFF;
            border-radius: 0;
            padding: 14px 10px;
            margin: 30px 0px;
        }
        
        .text {
            margin: 0px 0px;
        }
        
        .fa {
            color: #4183D7;
        }
        
        .border-top-card {
            border-radius: 7px;
            border-left: 1px solid #dee2e6!important;
            border-right: 1px solid #dee2e6!important;
            border-bottom: 1px solid #dee2e6!important;
        }
        
        .dark-border-top-card {
            border-radius: 7px;
            border-left: 1px solid #dee2e600 !important;
            border-right: 1px solid #dee2e600 !important;
            border-bottom: 1px solid #dee2e608 !important;
        }
        
        .facebook {
            border-top: 6px solid #3b5998!important;
        }
        
        .twitter {
            border-top: 6px solid #00acee!important;
        }
        
        .youtube {
            border-top: 6px solid #b2071d!important;
        }
        
        .instagram {
            border-top: 6px solid #c4268c;
            /*background: #000;*/
        }
        
        .instagram:first-child:before {
            width: 100%;
            height: 30px;
            background: linear-gradient(to left, #fce903, #9a0b72);
            top: -30px;
            left: 0;
        }
        
        .white-card-count {
            font-size: 48px;
            color: #ffffff;
            font-weight: 700;
        }
        
        .card-count {
            font-size: 48px;
            color: #000000;
            font-weight: 700;
        }
        
        .card-title {
            font-size: 12px;
            color: #4183D7
        }
        
        .followers {
            color: #AFAFAE;
            font-size: 12px;
            padding-top: 30px !important;
        }
        
        .followerToday {
            color: #0c9185;
            font-size: 12px;
        }
        
        .dark-background-card {
            background: #17305c
        }
        
        .light-background-card {
            background: #8e8e8e29
        }
        
        .fa-facebook {}
        
        .fa-twitter {
            color: #00acee;
        }
        
        .fa-instagram {
            color: #c4268c
        }
        
        .fa-youtube {
            color: #b2071d;
        }
        
        .fa-caret-up {
            color: #0c9185;
        }
        
        .border-round {
            border-radius: 10px;
        }
        
        .ov-title {
            font-size: 12px;
            font-weight: 500;
            color: #868686;
        }
        
        .ov-icon {}
        
        .ov-count {
            font-size: 25px;
            font-weight: 700;
        }
        
        .white-ov-count {
            font-size: 25px;
            font-weight: 700;
            color: #ffffff;
        }
        
        .ov-percent {
            font-size: 12px;
            color: #0c9185;
        }
        
        .padding-top-20 {
            padding-top: 14px;
        }
        /*-----------------*/
        
        .social-container {
            padding-top: 50px;
            position: relative;
        }
        
        .color-red {
            color: #b2071d;
        }
        
        .color-gree {
            color: #0c9185;
        }
        
        #social-body {
            background: #e9ecef;
        }
        
        #dark-social-body {
            background: #06111b;
        }
        
        .title {
            color: #000000
        }
        
        .dark-title {
            color: #ffffff
        }